.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}

.list-item {
  display: list-item;
}

.teleport-show {
  display: flex !important;
  transform: none !important;
}

.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.main_page {
  white-space: nowrap;
  width: 100%;
  height: 1080px;
  overflow: auto;
  position: relative;
  background: rgb(112, 226, 222);
  background: -moz-linear-gradient(0deg, rgba(112, 226, 222, 1) 0%, rgba(37, 42, 128, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(112, 226, 222, 1) 0%, rgba(37, 42, 128, 1) 100%);
  background: linear-gradient(0deg, rgba(112, 226, 222, 1) 0%, rgba(37, 42, 128, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#70e2de", endColorstr="#252a80", GradientType=1);
}

.text_title {
  top: 28%;
  left: 50%;
  color: rgba(255, 255, 255, 1);
  width: 595px;
  height: auto;
  font-size: 64px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Roboto;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  transform: translate(-50%, -50%);
  position: absolute;
}

.text_subtitle {
  top: 35%;
  left: 50%;
  color: rgba(255, 255, 255, 1);
  width: 856px;
  height: auto;
  font-size: 18px;
  font-style: SemiBold;
  text-align: center;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  transform: translate(-50%, -50%);
  position: absolute;
}

.container {
  width: 100%;
  height: 1080px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
}

.nav_bar {
  height: 80px;
  width: 100%;
  grid-area: inner-div;
  background-color: white;
}

.page_title {
  height: 400px;
  width: 100%;
  grid-area: inner-div;
}

#chips_logo {
  position: relative;
  left: 50%;
  transform: translate(-50%, 5%);
  scale: 1.2;
}

#other_projects {
  position: relative;
  top: 45%;
  left: 87%;
  font-size: 20px;
  color: rgba(111, 111, 111, 1);
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}

.tiles_wrapper {
  height: 400px;
  width: 100%;
  grid-area: inner-div;
}

.tiles_container {
  display: flex;
  gap: 400px;
  height: 400px;
  width: 1076px;
  grid-area: inner-div;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0%);
}

.tile {
  position: relative;
  height: fit-content;
  transform: translate(-50%, 0%);
}

.tile_box {
  position: absolute;
  z-index: 1000;
  background-color: white;
  width: 280px;
  height: 280px;
  border-radius: 19px;
}

#ibex_text_logo {
  position: absolute;
  top: 114px;
  left: 95px;
  z-index: 1000;
}

#veer_logo {
  position: absolute;
  top: 115px;
  left: 50px;
  z-index: 1000;
}

#caliptra_logo {
  position: absolute;
  top: 112px;
  left: 45px;
  z-index: 1000;
}

.gh_logo {
  position: absolute;
  top: 10px;
  left: 25px;
  z-index: 1000;
  scale: 1.35;
  background-color: white;
  border-radius: 100px;
}

.gh_text {
  position: absolute;
  top: 10px;
  left: 59px;
  z-index: 1000;
  font-size: 17px;
  color: rgba(111, 111, 111, 1);
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}

.gh_wrapper {
  width: 280px;
  height: 40px;
  position: absolute;
  top: 240px;
  z-index: 1000;
  display: flex;
  background-color: white;
  border-radius: 19px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#lf_logo {
  height: 40px;
  width: auto;
}

#logo_container {
  display: flex;
  gap: 100px;
  width: fit-content;
  height: fit-content;
  grid-area: inner-div;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0%);
}
