[Unit]
Description=Indexer web server
After=syslog.target
After=network.target

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
RestartSec=2s
Type=simple
User=indexer
Group=indexer
WorkingDirectory=/home/indexer/indexer/
ExecStart=/home/indexer/indexer/run-kythe-server.sh
Restart=always
NonBlocking=true

[Install]
WantedBy=multi-user.target
